<div class="container">
    <div class="logo">
      <img src="../../../assets/images/logos/apuesta_total.jpg" alt="Logo de Apuestas Total">
    </div>
    <h1>Bienvenido a Apuestas Total</h1>
    <p>En Apuestas Total, te ofrecemos una emocionante experiencia de apuestas en línea, con una amplia gama de eventos deportivos y opciones de apuestas para elegir. ¡Prepárate para vivir la emoción del deporte como nunca antes!</p>
    <h2>¿Por qué elegir Apuestas Total?</h2>
    <ul>
      <li>Variedad de deportes: Desde fútbol hasta baloncesto, pasando por tenis y carreras de caballos, tenemos eventos deportivos para todos los gustos.</li>
      <li>Opciones de apuestas: Ya sea que prefieras apostar al ganador del partido, al marcador final o a una apuesta especial, tenemos una amplia gama de opciones para cada evento.</li>
      <li>Seguridad y confiabilidad: En Apuestas Total, tu seguridad es nuestra máxima prioridad. Utilizamos las últimas tecnologías de seguridad para proteger tus datos y garantizar transacciones seguras en todo momento.</li>
    </ul>
  
  </div>
  